body{
    font-size: 30px;
    text-align: center;
}
h1{
    text-align: left;
}
.den{
    margin: 10px;
    font-size: 30px;
    width: 1000px;
    border-radius: 8px;
}
.tieu-de{
    font-size: 30px;
    width: 1000px; 
    margin: 10px;
    border-radius: 8px;
}
.noi-dung{
    font-size: 30px;
    width: 1000px;
    border-radius: 8px;
}
.gui{
    margin-right: 900px;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    background-color: darkgreen;
    color: white;
}
.icon{
    margin-right: 400px;
}